.content section div {
	display: flex;
	flex-direction:column;
	justify-content:center;

}



.content #login-button-container {
	display: flex;
	flex-direction:row;
	justify-content:center;
	width: 50vh;
}


