
.content section div {
	display: flex;
	flex-direction:column;
	justify-content:center;

}



.content #login-button-container {
	display: flex;
	flex-direction:row;
	justify-content:center;
	width: 50vh;
}



.content #messages {
	min-height:50vh;
}

header #account{
	font-weight: 150;
    font-size: 3vh;

}